:root {
  --size-title: 24px;
  --size-text: 16px;
  --size-button: 16px;

  --size-toast-title: 15px;
  --size-toast-description: 13px;

  --size-footer-text: 13px;
}

@media screen and (max-width: 768px) {
  :root {
    --size-title: 18px;
    --size-text: 12px;
    --size-button: 13px;

    --size-toast-title: 13px;
    --size-toast-description: 12px;

    --size-footer-text: 12px;
  }
}

@media screen and (max-width: 480px) {
  :root {
    --size-title: 22px;
    --size-text: 12px;
    --size-button: 12px;

    --size-toast-title: 12px;
    --size-toast-description: 12px;

    --size-footer-text: 11px;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
